/* LAYOUTS & GENERAL COMPONENTS */
body {
  background: $primary-background;
}

html {
  width: 100%;
}

.login-container {
  @include flex(row);
  @include dimensions(8vh, 50%);
  justify-content: center;
  align-content: center;
  margin-right: 15px;
  margin-top: 2.5%;

}

.login-label {
  margin-left: 8px;
}

.main-container {
  @include flex(row);
  justify-content: space-around;
}

.hidden {
  display: none;
}

/* NAV */
nav {
  background-color: $nav-background;
  @include flex(row);
  @include justify(space-between);
  align-items: center;
  @include dimensions(18vh, 100vw);
  position: absolute;
}

/* BOOKING CONTAINER */
.booking-container {
  @include flex(column);
  @include justify(space-evenly);
  align-content: center;
  margin-top: 150px;
  margin-right: 5%;
  margin-left: 5%;
  position: relative;
} 

.login-display {
  margin-top: 150px;
}

/* TRIP CONTAINER */
.trip-container {
  @include dimensions(60vh, 80%);
  margin-top: 150px;
}

.header-container {
  margin-left: 5%;
}

.card-container {
  @include flex(row);
  @include justify(space-evenly);
  @include dimensions(auto, 70%);
  flex-wrap: wrap;
  align-content: space-evenly;
  min-width: 70vw;
  margin-top: 5%;
}

.card {
  @include dimensions(50vh, auto);
  @include flex(column);
  background-color: $nav-background;
  border: 2px solid #e5e5e5;
  margin-top: 4%;
}

.destination-img {
  @include dimensions(20vh, 20vw)
}

.img-container {
  @include dimensions(20vh, 20vw);
  overflow: hidden;
  background-size: contain;
}

@media only screen and (max-width: 375px) {
  nav {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
  }
  
  .all-container {
    @include flex(column);
  }

  .booking-container,
  .trip-container {
    margin: auto;
  }
  
  .login-container {
    @include flex(column);
    justify-content: space-evenly;
    @include dimensions(10vh, 50vw);
  }

  .card-container {
    @include flex(column);
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
  }

  .card {
    @include dimensions(50vh, 90vw);
  }

  .img-container {
    @include dimensions(auto, 90vw);
  }

  .destination-img {
    @include dimensions(auto, 90vw);
  }

  .hidden {
    display: none !important;
  }
}




