/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: white;
;

body {
  background: $primary-background;
}

* {
  font-family: 'Open Sans', sans-serif;
  border: red 1px solid;
}

* h1 {
  font-family: 'DM Serif Display', serif;
}
